<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA02ZDSKQA4e3QzuySPd9oyPKr4QRs0kA8</string>
	<key>GCM_SENDER_ID</key>
	<string>75025842864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolApp</string>
	<key>PROJECT_ID</key>
	<string>latsify-5a586</string>
	<key>STORAGE_BUCKET</key>
	<string>latsify-5a586.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75025842864:ios:dfd909e64c104a5aa2f175</string>
</dict>
</plist>